/* the card */

.card {
    max-width: 21.875rem;
    padding: 1.5rem;

    border-radius: 1.5rem;
    box-shadow: 0 .5rem 1.5rem 1rem rgba(0, 0, 0, 0.25);

    &__hero {
        position: relative;
        width: 100%;

        &:hover .card__overlay--icon, &:hover .card__overlay--bg {
            display: flex;
        }
    }

    &__img-nft {
        width: 100%;
        border-radius: 1rem;
    }

    &__overlay--bg {
        position: absolute;
        top: 0;
        background-color: rgba(0, 255, 248, 0.5);;
        width: 100%;
        height: 99%;
        border-radius: 1rem;
        cursor: pointer;
        display: none;
    }
    
    &__overlay--icon {
        position: absolute;
        top: calc(50% - 1.5rem);
        left: calc(50% - 1.5rem);
        justify-content: center;
        align-items: center;
        display: none;
        cursor: pointer;
        }

    &__subtitle {
        line-height: 2rem;
        margin-bottom: 1.5rem;
    }

    &__info {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        margin-bottom: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: 2px solid var(--clr-neu-blue-line);
    }

    &__price {
        color: var(--clr-pri-cyan);

        &::before {
            content: url('../images/icon-ethereum.svg');
            margin-right: 1ch;
        }
    }

    &__time {

        &::before {
            content: url('../images/icon-clock.svg');
            margin-right: 1ch;
        }
    }

    &__created-by {
        display: flex;
        align-items: center;

        &--icon {
            height: 2.1875rem;
            border: 1px solid var(--clr-neu-white);
            border-radius: 50%;
            margin-right: 1rem;
        }

        &--name {
            margin-left: .5ch;
        }
    }
}