
// Colors

$colors: (
    "pri": (
        "blue": hsl(215, 51%, 70%),
        "cyan": hsl(178, 100%, 50%),
    ),
    "neu": (
        "blue-main": hsl(217, 54%, 11%),
        "blue-card": hsl(216, 50%, 16%),
        "blue-line": hsl(215, 32%, 27%),
        "white":     hsl(0, 0%, 100%),
    ),
);

// Typography

$ff-stack: 'Outfit', sans-serif;

$fs-text: 1.025rem; // 18px
$fs-h1: 1.375rem; // 20px

$fw: (
    "lt": 300,
    "rg": 400,
    "md": 500,
);